h1.display-5 {
  font-weight: bold;
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

p.lead {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-right: 15px;
}

.img-fluid {
  border-radius: 10px;
}

.row.gx-3 {
  gap: 15px; /* This will add a horizontal and vertical gap between the images */
}
