<!-- ***** Features Big Item Start ***** -->

<section class="section padding-top-70 padding-bottom-0 home-feature" style="top: 20%;" #featureSection id="about2" >

  <div class="container" id="about" >
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" >
        <img src="assets/images/rep.png" class="rounded" height="400px" width="500px" alt="App">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix" >
        <div class="left-heading">
          <h1 class="section-title"><strong>Ko smo mi?</strong></h1>
        </div>
        <div class="left-text" >
          <p>Naša auto limarija ima bogatu istoriju koja se proteže kroz više decenija. Osnovana sa strašću prema preciznom zanatu i ljubavi prema automobilima, postali smo neizostavna karika u auto-industriji našeg regiona. Kroz sve promene u industriji i razvoju novih tehnologija, naša auto limarija ostala je posvećena tradicionalnim vrednostima majstorstva, ali smo i uvek otvoreni za nove ideje i inovacije.</p>
        </div>
      </div>
    </div>


  </div>

</section>
