<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <div class="logo">
            <img src="assets/images/car-repair.png" width="46px" height="36px" alt="Autolimarska Radionica Radonić" /> Autolimarska Radionica Radonić
          </div>
          <ul class="nav" [class.menu-open]="isMenuOpen">
            <li><a (click)="scrollToHome()">Početna</a></li>
            <li><a (click)="scrollToAbout()">O nama</a></li>
            <li><a (click)="scrollToServices()">Usluge</a></li>
            <li><a (click)="scrollToLocation()">Kontakt</a></li> <!-- Added "Kontakt" here -->
          </ul>
          <a class="menu-trigger" (click)="toggleMenu()">
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
