<section class="contact-section section-padding section-bg" id="location">

  <!-- Add the custom shape divider -->

  <div class="container">

    <div class="row">

      <div class="col-lg-12 col-12 text-center" style="margin-top: 40px;color: white">
        <h2 class="mb-5"><strong>Kontakt i lokacija</strong></h2>
        <hr style="background-color: white">
      </div>

      <div class="col-lg-5 col-12 mb-4 mb-lg-0">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11236.324454811322!2d19.801025!3d45.2461525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b11ff1fc3e0e1%3A0x1323802f45f16a0!2sAutolimarska%20Radionica%20Radoni%C4%87!5e0!3m2!1sen!2srs!4v1695111751031!5m2!1sen!2srs"
          width="350" height="150" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade" width="100%"
          style="border:0;border-radius: 15px;margin-left: 20px" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade" maptype="terrain"></iframe>
      </div>

      <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto"
           style="margin-left: 50px;margin-top: 50px;bottom:50px;color: white">
        <h4 class="mb-3">Adresa</h4>

        <p>Futoški put 91, Novi Sad 21000</p>



        <p class="d-flex align-items-center mb-1" style="color: white">
          <span class="me-2">Broj telefona: 063519635 </span>


        </p>

        <p class="d-flex align-items-center">
          <span class="me-2">Email: info@gmail.com  </span>


        </p>

      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <h4 class="site-footer-title mb-3" style="color:white;">Resursi</h4>

        <ul class="site-footer-links" style="color: white">
          <li><a (click)="scrollToHome()" style="cursor: pointer;" >Početna</a></li>
          <li><a (click)="scrollToAbout()" style="cursor: pointer;">O nama</a></li>
          <li><a (click)="scrollToServices()" style="cursor: pointer;">Usluge</a></li>


        </ul>
      </div>

    </div>

  </div>

</section>



