@import url('https://fonts.cdnfonts.com/css/Khand');

*{
  font-family: 'Khand', sans-serif;
  font-size: 20px;
}
.home-feature {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.home-feature.show {
  opacity: 1;
  transform: translateY(0);
}
.service-work {
  transition: transform 0.3s ease;
}

.service-work:hover {
  transform: translateY(-5px);
}

