



      <section class="container overflow-hidden py-5 home-feature" style="margin-top: 0px;" #featureSection id="services">
        <section class="py-5 mb-5">
          <div class="container">
            <h1 class="col-md-6 m-auto h2 semi-bold-600 py-5 text-center"><strong>Usluge koje nudimo</strong></h1>
            <div class="row gy-5 g-lg-5 mb-4">

              <!-- Start Recent Work 1 -->
              <div class="col-md-6 col-lg-4 mb-3">
                <a href="#" class="service-work card border-0 text-white overflow-hidden d-flex flex-fill" style="background-color: white;">
                  <img class="service card-img" src="./assets/images/panelbeating.jpg" alt="Krpljenje vozila" style="height: 100%;">
                  <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                      <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"><strong>Krpljenje vozila</strong></span>
                      <p class="card-text"><strong>Zaštita automobila od korozije</strong></p>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Start Recent Work 2 -->
              <div class="col-md-6 col-lg-4 mb-3">
                <a href="#" class="service-work card border-0 text-white overflow-hidden d-flex flex-fill" style="background-color: white;">
                  <img class="service card-img" src="./assets/images/undercoating.jpg" alt="Tektiranje vozila" style="height: 100%;">
                  <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                      <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"><strong>Tektiranje vozila</strong></span>
                      <p class="card-text"><strong>Zaštita automobila od korozije radimo sa ”body” programom</strong></p>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Start Recent Work 3 -->
              <div class="col-md-6 col-lg-4 mb-3">
                <a href="#" class="service-work card border-0 text-white overflow-hidden d-flex flex-fill" style="background-color: white;">
                  <img class="service card-img" src="./assets/images/painting.jpg" alt="Farbanje vozila" style="height: 100%;">
                  <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                      <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"><strong>Farbanje vozila</strong></span>
                      <p class="card-text"><strong>Farbanje radimo samo sa najkvalitetnijim bojama,kao i pratećim materijalom</strong></p>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Start Recent Work 4 -->
              <div class="col-md-6 col-lg-4 mb-3">
                <a href="#" class="service-work card border-0 text-white overflow-hidden d-flex flex-fill" style="background-color: white;">
                  <img class="service card-img" src="./assets/images/poliranje.jpg" alt="Poliranje vozila" style="height: 100%;">
                  <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                      <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"><strong>Poliranje vozila</strong></span>
                      <p class="card-text"><strong>Uklanjanje sitnih ogrebotina i obnova sjaja i estetike vašeg automobila</strong></p>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Start Recent Work 5 -->
              <div class="col-md-6 col-lg-4 mb-3">
                <a href="#" class="service-work card border-0 text-white overflow-hidden d-flex flex-fill" style="background-color: white;">
                  <img class="service card-img" src="./assets/images/plastic.png" alt="Plastičarske usluge" style="height: 100%;">
                  <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                      <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"><strong>Plastičarske usluge</strong></span>
                      <p class="card-text"><strong>Vršimo sve vrste plastičarskih usluga, uz najsavremenije alate i opremu</strong></p>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Start Recent Work 6 -->
              <div class="col-md-6 col-lg-4 mb-3">
                <a href="#" class="service-work card border-0 text-white overflow-hidden d-flex flex-fill" style="background-color: white;">
                  <img class="service card-img" src="./assets/images/parts.png" alt="Nabavka delova" style="height: 100%;">
                  <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                      <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300"><strong>Nabavka delova</strong></span>
                      <p class="card-text"><strong>Naručujemo nove i polovne delove od naših dobavljača</strong></p>
                    </div>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </section>
      </section>

      <!-- End Recent Work -->




