<section class="section home-feature" id="feature" #featureSection >
  <div class="container">
    <div class="row" >
      <div class="col-lg-12">
        <div class="row">
          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" >
            <div class="features-small-item">
              <div class="icon">
                <i><img src="assets/images/service.png" width="85px" alt=""></i>
              </div>
              <h5 class="features-title">Profesionalan Servis</h5>
              <p>Nudimo vrhunsku uslugu popravke vaših vozila s dugogodišnjim iskustvom</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->

          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="assets/images/technician.png" width="85px" alt=""></i>
              </div>
              <h5 class="features-title">Vrhunski Majstori</h5>
              <p>Iskusni majstori brinu se za vaše vozilo s vrhunskom pažnjom i veštinom</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->

          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="assets/images/break.png" alt="" width="85px"></i>
              </div>
              <h5 class="features-title">Na vreme</h5>
              <p>Brzina i tačnost su naš zaštitni znak jer uvek stižemo na vreme</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->
        </div>
      </div>
    </div>
  </div>
</section>
